doctype transitional
html
    head
        meta(charset="utf8")
        title= title + "  Scenario"
        style
            include scenario.css
    body
        h1.title= title
        h3.author-wrapper by:&nbsp;
            span.author= author

        div.description-wrapper
            h4 Description
            p.description!= description
            p.hidden.raw-description!= rawDescription

        div.data-wrapper
            h4 Data
            p.data!= data
            p.hidden.raw-data!= rawData

        div.steps
            for step in steps
                div.step
                    div.number #{step.position}
                    div.gif-wrapper
                        image.gif(src="./sc-images/#{step.gif}")
                    div.description-wrapper
                        div.description!= step.description
                        div.hidden.raw-description!= step.rawDescription


    script(type="text/javascript")
        include scenario.js
